# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies installed by npm
/node_modules

# build artifacts
/dist
/static/*.css

# secrets
.env

# macOS related files
.DS_Store
.AppleDouble
.LSOverride
*.pem
