.background {
    background-image: url("background.jpg");
    background-position: center center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    text-rendering: optimizelegibility;
}

.background::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

.background::after {
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    content: "";
    position: fixed;
}

.inner {
    display: inline-block;
    margin-top: -4%;
    max-width: 80%;
    position: relative;
    vertical-align: -100px;
    z-index: 2;
}

.inner::before {
    background-size: 100% auto;
    content: "";
    display: block;
    height: 337px;
    width: 337px;
    top: 50%;
    left: 50%;
    margin-top: -168px;
    margin-left: -168px;
    position: absolute;
}

.title {
    font-family: "adelle",serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 0.26em;
    line-height: 1;
    text-transform: uppercase;
    bottom: 225px;
    left: 50%;
    margin-left: -237px;
    padding: 0;
    position: fixed;
    width: 475px;
    z-index: 2;
}

.tag {
    font-family: "adelle",serif;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.4em;
    line-height: 2.2;
    text-transform: uppercase;
    bottom: 200px;
    left: 50%;
    margin-left: -237px;
    padding: 0;
    position: fixed;
    width: 475px;
    z-index: 2;
}

.links {
    bottom: 50px;
    left: 50%;
    margin-left: -237px;
    padding: 0;
    position: fixed;
    width: 475px;
}

.links > li {
    display: inline-block;
}

.links .email-link {
    display: block;
    margin-top: 10px;
}

.link {
    color: #ffffff;
    opacity: 0.5;
}

.email {
    font-family: "fira-sans-2",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
}

.email:hover,
.email:focus,
.link:hover {
    opacity: 1;
}

@media (max-width: 600px) {
    .name {
        font-size: 30px;
        letter-spacing: 0.2em;
    }
}

@media (max-width: 400px) {
    .name {
        font-size: 24px;
        letter-spacing: 0.1em;
        margin-top: 20px;
    }
    .tag {
        font-size: 12px;
        letter-spacing: 0.2em;
    }
    .wrapper-inner {
        margin-top: -20%;
    }
    .wrapper-inner::before {
        height: 200px;
        margin-left: -100px;
        margin-top: -100px;
        width: 200px;
    }
}
