@tailwind base;

/* Write your own custom base styles here */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("IBM Plex Mono"),
    url("../static/ibm-plex-mono-regular.woff2") format("woff2");
}

body {
  font-family: IBM Plex Mono, monospace;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
